# operators ::

## Arithmetic Operator:-

###  + , -  , *  , ** [Power operator], / , // [Floor Division], % [Modulo]

In [2]:
a=10
b=2
print(a)
print(b)

10
2

In [3]:
a+b

12

In [4]:
a-b

8

In [5]:
a*b

20

In [6]:
a/b

5.0

In [7]:
b/a

0.2

In [13]:
A=10
B=2
print(A)
print(B)

10
2

In Python applications, * operator will be used to perform Arithmetic Multiplication operation. 

In Python applications, ** operator is representing power operator.

In [14]:
print(A*B)

20

In [15]:
print(A**B)

100

In Python applications, / operator will perform Arithmetic division operation and it will return always float value 
as result whether the operands are int or float.

In Python applications, // operator will perform Arithmetic Division operator and it will return the results 
as per the following conditions.

1. If both the operands are int type then the result of // operator is int only.
2. If either of the operands or both the operands are float then the result of //      operator is float.

In [16]:
print(A/B)

5.0

In [17]:
print(A//B)

5

In [18]:
x=15.0
y=5
print(x/y)

3.0

In [19]:
print(x//y)

3.0

In [20]:
x=12.1
y=2.1

print(x/y)

5.761904761904762

In [21]:
print(x//y)

5.0

## Assignment Operator :-

- =
- +=
- -=
- *=
- /=
- %=
- **= 
- //=

In [11]:
a=5

a

5

In [12]:
a+=5
print(a)
a

10

10

In [13]:
a-=2
print(a)

8

In [14]:
a*=5
print(a)

40

In [15]:
a/=8
print(a)

5.0

In [16]:
a**=2
print(a)

25.0

In [17]:
a//= 4
print(a)

6.0

## Comparision Operator:-

- ==
- != 
- <
- ' > '
- <=
- ' >= '

##### ans only true or false

In [1]:
co=10
co2=20

In [2]:
print(co)
print(co2)

10
20

In [3]:
print(co==co2)

False

In [4]:
print(co!=co2)

True

In [5]:
print(co < co2)

True

In [6]:
print(co>co2)

False

In [7]:
print(co<=co2)

True

In [8]:
print(co>=co2)

False

## logical boolean operators  :-

- &
- |
- ^
- not

In [ ]:
 A  B      A&B       A|B/AorB          A^B         NOT-A
=============================================================
T  T       T         T                 F            F
T  F       F         T                 T            F
F  T       F         T                 T            T
F  F       F         F                 F            T

In [10]:
bo1=True

bo2=False

In [12]:
print(bo1 & bo1)
print(bo2 & bo2)
print(bo1 & bo2)
print(bo2 & bo1)
print()
print(bo1 and bo1)

True
False
False
False

True

In [14]:
print(bo1 | bo1)
print(bo1 | bo2)
print(bo2 | bo1)
print(bo2 | bo2)
print()
print(bo1 or bo1)

True
True
True
False

True

In [15]:
print(bo1 ^ bo1)
print(bo1 ^ bo2)
print(bo2 ^ bo1)
print(bo2 ^ bo2)

False
True
True
False

In [18]:
print(not bo2)
print(not bo1)

True
False

In [20]:
print (10 * True)
print (10 * False)  #True=1  and, False=0

10
0

## logical bitwise operators :-

- Operator =======Purpose===========================Notation
- ==============================================================
- &  =========> Bitwise AND========================= In-fix
- |	 =========> Bitwise Or ========================= In-fix
- ^	 =========> Bitwise XOR	======================== In-fix
- ~	 =========> Bitwise NOT	======================== Prefix
- << =========> Shift Bits Left	==================== In-fix
- " >> " =====> Shift Bits Right =================== In-fix

In [ ]:
 A  B      A&B       A|B/AorB          A^B 
===========================================
0   0       0          0                0  
1   0       0          1                1
0   1       0          1                1 
1   1       1          1                0

In [2]:
a= 10
b= 2
print(bin(a))
print(bin(b))

0b1010
0b10

In [3]:
print(a & b)
print(a | b)
print(a ^ b)

2
10
8

In [ ]:
a = 10 ---->  1010   #binary value
b = 2  ---->  0010
----------------------------------------
a&b   ------> 0010  = 2
a|b   ------> 1010  =10
a^b   ------> 1000  =8

In [7]:
print(0b1000) # binary to decimal value

8

In [11]:
print(~a)
print(~b)
c=-10
print(~c)

-11
-3
9

In [ ]:
~a  ----> -1*(a+1)= -1*(10+1) =   -1*11 = -11
~b  ----> -1*(b+1)= -1*(2+1) =    -1*3 = -3
~c  ----> -1*(c+1)= -1*(-10+1) =  -1*(-9)= 9

In [12]:
print(a>>b)
print(a<<b)

2
40

In [ ]:
a<<b   ---->  10<<2 --> 10 = 00001010
     "2"  00 add forward       00101000 = 101000 == 40 (0b101000)
    
a>>b  ----->                        10>>2 --> 10 =   00001010
"2" 00 add back and right side "2"  no. remove     00000010 == 10 ==2 (0b10)

In [13]:
d=10
e=3
print(bin(d))
print(bin(e))

0b1010
0b11

In [14]:
print(d>>e)
print(d<<e)

1
80

In [ ]:
d<<e ------> 10<<3   --> 10  == 00001010
   "3" 000 add forward             01010000 =  1010000 == 80 (0b1010000)

In [15]:
print(0b1010000)

80

## Ternary Operator:-

-    Expr1 if Expr2 else Expr3

In [10]:
a = 10
b = 25

min = a if a < b else b
max = a if a > b else b

print("a :", a)
print("b :", b)
print("min :", min)
print("max :", max)

a : 10
b : 25
min : 10
max : 25

In [14]:
v=20
v1=45

mix=v if v<v1 else v1
print(mix)

20

### Identity Operators:-

- The main intention of Identity operators is to check whether the two variables values are same or not same.

- 1.   is
- 2.   is not

In [15]:
a3 = 10
b3 = 10
c3 = 20
print(a3)
print(b3)
print(c3)

10
10
20

In [17]:
print(a3 is b3)
print(a3 is c3)
print(a3 is not b3)
print(a3 is not c3)

True
False
False
True

### Membership Operators:-

- The main intention of membership operators is to check whether the specified element is the members of the specified sequence type or not.

- in
- not in

In [19]:
list_data = [1,2,3,4,5]
print(list_data)

[1, 2, 3, 4, 5]

In [21]:
print(1 in list_data)
print(10 in list_data)
print(5 not in list_data)
print(10 not in list_data)
print(3 in list_data)

True
False
False
True
True

####  operator ex:

In [25]:
#
aa = 10
bb = 'abc'
cc = 22.22
dd = True
ee = +23456E456  #float number

print(type(aa))
print(type(bb))
print(type(cc))

print(type(dd))
print(type(ee))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'float'>

In [27]:
##
az = 10
bz = 2

print(az/bz)
print(az//bz)
print(az%bz)

5.0
5
0

In [30]:
###
ax = 13
bx = 3
print("ax/bx :",ax / bx)
print("ax//bx :",ax // bx)
print("ax%bx :" ,ax % bx)

ax/bx : 4.333333333333333
ax//bx : 4
ax%bx : 1

In [31]:
####
a = 12.5
b = 4

print(a/b)
print(a//b)
print(a%b)

3.125
3.0
0.5

In [32]:
#####
a = 5
print(a+2*a+1)

# 1st 2*a  .. 2nd a+10+1  .. 3rd 5+10+1=16

16

In [35]:
######
a=6
print(a*2**2)

# 1st 2**2  ... 2nd a*4  ... 3rd  6*4=24 
s=8
print(s*2**2)
print(2**2*s)

24
32
32

### Operators Priorities order Decreasing Mode:
    id
    ()
    Exponents, **
    *, /,//, %
    +, -
    and

In [37]:
########
a5 = 2 * (3 + 4 ** 2) + 3 * (4 ** 2 - 2)

print(a5)

# 2 * (3 + 4 ** 2) + 3 * (4 ** 2 - 2)
# 2 * (3 + 16) + 3 * (4 ** 2 - 2)
# 2 * (3 + 16) + 3 * (16 - 2)
# 2 * 19 + 3 * (16 - 2)
# 2 * 19 + 3 * 14
# 38 + 3 * 14
# 38 + 42
# 80

80

In [43]:
###########
a6 = 3
b6 = 10
a6 += 3**2
print(a6)
a6 -= b6 // 2 // 3
print(a6)

# a6 += 3**2 --> a6 = a6 + 3 ** 2 --> a6 = 3 + 9 --> a6 = 12

# a6 -= b // 2 // 3 --> a6 = a6 - b // 2 // 3 --> a6 = 12 - 10 // 2 // 3
                               #            a6 = 12 - 5 // 3
                                #           a6 = 12 - 1
                                 #          a6 = 11

12
11

In [44]:
###########
#Which of the following expression will generate max value
d1= 8%3*4
d2= 8-3*4
d3= 8//3*4
d4= 8/3*4

print(d1)
print(d2)
print(d3)
print(d4)

8
-4
8
10.666666666666666

In [47]:
z1=(8//3)
z2=(8/3)
print(z1)
print(z2)

2
2.6666666666666665

In [48]:
print(z1*4)
print(z2*4)

8
10.666666666666666