#### - In general, in enterprise applications,it is convention to manage data about the organizations like Employees details, Services details, products details,....
#### -  we need to use Storage Areas.
             There are two types of Storage Areas.
                1. Temporary Storage Areas
                2. Permanent Storage Areas

- 1. Temporary Storage Areas:
----------------------------
     - These Storage Areas are able to store data temporarily.
          EX: Buffers, Pyuthon Objects
- 2. Permanent Storage Areas:
----------------------------
     - These Storage Areas are able to store data permanently.
            There are three types of Permament Storage Areas.
            1. File Systems
            2. Database Management Systems
            3. Datawarehouses.

## 1. File Systems:
------------------
- File System is a system , it will be managed by local Operating System, it is platform dependent and it is not suitable for Platform independent Programming languages like Python, Java,....
- File System is able to store less data.
- File System is able to provide less security.
- File System is able to increase Data Redundency.
- File Systems are not having Query Languages support.

## 2. Database Management Systems
-------------------------------
- Database Management System is a Software System, it able to manage data by storing it and by retrieving it from Database.
- Database Management System is able to store data more data when compared with File Systems, but, Database Management System is able to store less data when compared with Datawarehouses.
- Database Management System is very good while storing data ,updating data, deleting data,....but it is not good .

## 3. Datawarehouses:
-------------------
- It able to store more data when compared with File Systems and DBMS.
- It is very good while retrieving data from Databases, because, it has Data Mining Tech.

### -Q)What is the difference between Database and Database Management System?
-------
- 1. Database is memory storage to store data.
- Database Management System is a Software System, it able to manage data by storing it and by retrieving it from Database.
- 2. Database is the collection of interrelated data.
- Database Management System is the collection of interrelated data and a set of rules and regulations to access data.
   - There are three types of Database Management Systems.
        1. Relational Database Management System
        2. Object Oriented Database Management System
        3. Object Relational Database Management System

#### 1. Relational Database Management System:
--------
- It able to manage data in the form of Tables.
- It able to use SQL2 as query language to manage data manipulations.

#### 2. Object Oriented Database Management System:
--------
- It able to manage data in the fomr of Objects.
- It able to use OQL as query language to manage data manipulations.

#### 3. Object Relational Database Management System:
-------
- It able to manage data in the form of tables and objects.
- It able to manage SQL3 as query language to manipulate data.

### Query Processing System:
--------------------------
- If we submit an SQL query to Database, Where at database , Database Engine will take query and Database will execute sql query by following the following actions.
    1. Query Tokenization
    2. Query Parsing
    3. Query Optimization
    4. Query Execution

-1. Query Tokenization:
------------------------
    - It able to devide the provided sql query into no of tokens and it will generate stream of tokens as an output.

-2. Query Parsing:
-------------------
    - The main intention of this pahse is to check the syntax errors in the provided sql query.
    - This phase will take the stream of tokens as an input and it will constructor a Tree called as Query Tree, if query 
    Tree is success then no syntax errors are existed in the provided sql query. If query tree is not success then there are some syntax errors.
    
-3. Query Optimization:
-------------------------
    - This phase will apply no of optimization algorithms on query tree to optimize the query tree inorder to reduce execution time and inorder to reduce memory utilization.
    
-4. Query Execution
--------------------
    - This phase is able to execute sql queries by using an interpretor and it will send results to the respective client.

# Python Database Connectivity:

--------
- PDBC is a step by step by process to connect with Database from Python programs inorder to perform database operations from python applications.
- PDBC is a library contains predefined functions, classes,... it can be used to iteract with database from Python programs inorder to perform database operations from python applications.
- In general, in PDBC applications, we will write database logic in Python programs as per python repersentations and we have to submit that database logic to database, where Database has to execute database logic and database has to send the results to Python application.
- In the above context, when we submit python represented database logic to database then Database will not execute python represented database logic , because, Database is unable to execute python representations.
- In the above context, to execute PDBC applications we must use a translator to map Python API calls to Database API calls and database API calls to Python API calls, here the translator is called as "Driver".
- Driver is an interface existed in between Python program and database, it can be used to map Python Representations to Database Representations and Database representations to Python Representations.
- To provide Drivers Python has provided a seperate module for each and every database which includes PDBC library and Driver logic.

        EX1: cx_Oracle for Oracle Database.
        EX2: mysql.connector for MySQL Database
        EX3: pyodbc for all databases from python applications.

- If we want to use cx_Oracle module in Python applications, first , we have to install cx_Oracle explicit library then we have to import cx_Oracle module.
- If we use the IDE like PyCharm then we have to add cx_Oracle or cx_Oracle_ctypes to project interpretor.
- file --> settings --> project iterpretor --> + [add] --> search cx_Oracle / cx_Oracle_ctypes --> Install Libraries --> Ok  button.
- If we use the IDE like Visual Studeo the it is not required to add cx_Oracle module, because, cx_Oracle is bydefault provided by Visual Studeo.
- If we are not using any IDE and if we want to prepare applications by using Editplus, IDLE... then we have to install cx_Oracle by using pip command.
        pip install cx_Oracle
- In Python file, to use cx_Oracle module, we must import cx_Oracle.
        import cx_Oracle

## Steps to prepare PDBC Applications:
------------------------------------
1. Install Oracle Databas. 
2. In Python Appliactions
         a)import cx_Oracle module
             import cx_Oracle as cxo
         b)Create Connection between Python application and Database .
             con = cxo.connect("uname/password@DBServerIPAddrtess:DBPort/DBNae")
             EX: con = cxo.connect("scott/tiger@localhost:1521/xe")
         c)Create Cursor inorder to hold result of the SQl query execution.
             cursor = con.cursor()
         d)Write and execute SQl query
             cursor.execute(Query)
             EX: cursor.execute("select * from emp1")
         e)If we execute non select sql queries like create or insert or update or delete or alter or drop then we must perform             either commit or rollback operation.
             con.commit() --> To store manipulations Permanently.
             con.rollback() --> To remove manipulations and to get back previous state.
         f)If we execute select sql query then get Results from Cursor
             data1 = cursor.fetchone() --> To get only one row.
             data2 = cursor.fetchmany(n) --> To get no of rows.
             data3 = cursor.fetchall() --> To get all rows.
         g)Close the connection and cursor
             cursor.close()
             con.close()

In [15]:
import cx_Oracle as cxo
conn = cxo.connect("scott/tiger@localhost:1521/xe")
cursorp = conn.cursor()
DATA = cursorp.execute("select * from emp where JOB = 'CLERK'")
print(DATA.fetchone())

cursorp.close()
conn.close()

(7369, 'SMITH', 'CLERK', 7902, datetime.datetime(1980, 12, 17, 0, 0), 800.0, None, 20)

In [16]:
import cx_Oracle as cxo
conn = cxo.connect("scott/tiger@localhost:1521/xe")
cursorp = conn.cursor()
DATA = cursorp.execute("select * from emp where JOB = 'CLERK'")
print(DATA.fetchall())

cursorp.close()
conn.close()

[(7369, 'SMITH', 'CLERK', 7902, datetime.datetime(1980, 12, 17, 0, 0), 800.0, None, 20), (7876, 'ADAMS', 'CLERK', 7788, datetime.datetime(1983, 1, 12, 0, 0), 1100.0, None, 20), (7900, 'JAMES', 'CLERK', 7698, datetime.datetime(1981, 12, 3, 0, 0), 950.0, None, 30), (7934, 'MILL', 'CLERK', 7782, datetime.datetime(1982, 1, 23, 0, 0), 2300.0, None, 10)]

In [17]:
import cx_Oracle as cxo
conn = cxo.connect("scott/tiger@localhost:1521/xe")
cursorp = conn.cursor()
DATA = cursorp.execute("select * from emp where JOB = 'CLERK'")

for row in DATA :
    for col in row :
        print(col , end="")
    print()    

cursorp.close()
conn.close()

7369SMITHCLERK79021980-12-17 00:00:00800.0None20
7876ADAMSCLERK77881983-01-12 00:00:001100.0None20
7900JAMESCLERK76981981-12-03 00:00:00950.0None30
7934MILLCLERK77821982-01-23 00:00:002300.0None10

### PDBC Application to create table in oracle sql

In [18]:
## PDBC Application to create table in oracle sql

import cx_Oracle as cxo
con = cxo.connect("scott/tiger@localhost")
cursor = con.cursor()
cursor.execute("create table pdbcEmp(ENO number(3) primary key,ENAME varchar2(10),ESAL float(5),EADDR varchar2(10))")
print("Table pdbcEmp created Successfully")

con.commit()
cursor.close()
con.close()

Table pdbcEmp created Successfully

### PDBC Application to create table by taking table name as Dynamic Name

In [20]:
## PDBC Application to create table by taking table name as Dynamic Name

import cx_Oracle as cxo
con = cxo.connect("scott/tiger@localhost")
cursor = con.cursor()
tname = input("Table Name : ")
query = "create table "+tname+"(ENO number(3) primary key, ENAME varchar2(10), ESAL float(5), EADDR varchar2(10))"
cursor.execute(query)
con.commit()
print("Table",tname,"Created Successfully")
cursor.close()
con.close()

Table Name : pdbcEmp1
Table pdbcEmp1 Created Successfully

### PDBC Application to insert records into Database table:

In [1]:
## PDBC Application to insert records into Database table:

import cx_Oracle as cxo
con = cxo.connect("scott/tiger@localhost:1521")
cursor = con.cursor()
tname = input("table name : ")
while True:
     eno = int(input("Employee Number : "))
     ename = input("Employee Name : ")
     esal = float(input("Employee Salary : "))
     eaddr = input("Employee Address : ")
     cursor.execute("insert into " +tname + " values(%i,'%s',%f,'%s')"%(eno,ename,esal,eaddr))
        
     print("Employee ",eno," Inserted Successfully")
     option = input("Onemore Employee[yes/no]? : ")
     if option == "yes":
         continue
     else:
         break
con.commit()
cursor.close()
con.close()

table name : pdbcemp
Employee Number : 777
Employee Name : GG
Employee Salary : 1200
Employee Address : odsa
Employee  777  Inserted Successfully
Onemore Employee[yes/no]? : n

### PDBC Application to perform Updations on database table:

In [27]:
## PDBC Application to perform Updations on database table:

import cx_Oracle as cxo
con = cxo.connect("scott/tiger@localhost")
cursor = con.cursor()
cursor.execute("update pdbcEmp set ESAL = ESAL + 500 where ESAL < 10000")

con.commit()
print("Employee Records Updated Successfully")
cursor.close()
con.close()

Employee Records Updated Successfully

### PDBC Application to insert records into Database table:

In [28]:
## PDBC Application to insert records into Database table:

import cx_Oracle as cxo
con = cxo.connect("scott/tiger@localhost:1521")
cursor = con.cursor()
tname = input("table name : ")
while True:
     eno = int(input("Employee Number : "))
     ename = input("Employee Name : ")
     esal = float(input("Employee Salary : "))
     eaddr = input("Employee Address : ")
     cursor.execute("insert into " +tname + " values(%i,'%s',%f,'%s')"%(eno,ename,esal,eaddr))
        
     print("Employee ",eno," Inserted Successfully")
     option = input("Onemore Employee[yes/no]? : ")
     if option == "yes":
         continue
     else:
         break
con.commit()
cursor.close()
con.close()

table name : pdbcEmp
Employee Number : 444
Employee Name : DD
Employee Salary : 4000
Employee Address : hyd
Employee  444  Inserted Successfully
Onemore Employee[yes/no]? : yes
Employee Number : 555
Employee Name : EE
Employee Salary : 8000
Employee Address : hyd
Employee  555  Inserted Successfully
Onemore Employee[yes/no]? : yes
Employee Number : 666
Employee Name : FF
Employee Salary : 7000
Employee Address : hyd
Employee  666  Inserted Successfully
Onemore Employee[yes/no]? : n

### PDBC Application to delete records from Database:

In [29]:
## PDBC Application to delete records from Database:

import cx_Oracle as cxo
con = cxo.connect("scott/tiger@localhost:1521")
cursor = con.cursor()
cursor.execute("delete from pdbcEmp where ESAL < 6000")
con.commit()
print("Employee records Deleted Successfully")
cursor.close()
con.close()

Employee records Deleted Successfully

### PDBC Application to drop table from DB:

In [3]:
## PDBC Application to drop table from DB:

import cx_Oracle as cxo
con = cxo.connect("scott/tiger@localhost:1521/xe")
cursor = con.cursor()
cursor.execute("drop table pdbcemp1")
con.commit()
print("pdbcemp1 table dropped from Db successfully")
cursor.close()
con.close()

pdbcemp1 table dropped from Db successfully

### PDBC Application to retrieve Data from Database table by using fetchone():

In [5]:
 ## PDBC Application to retrieve Data from Database table by using fetchone():
    

import cx_Oracle as cxo
con = cxo.connect("scott/tiger@localhost:1521/xe")
cursor = con.cursor()
cursor.execute("select * from pdbcemp")

data = cursor.fetchone()
print("Employee Details")
print("---------------------")
print("Employee Number  : ",data[0])
print("Employee Name    : ",data[1])
print("Employee Salary  : ",data[2])
print("Employee Address : ",data[3])
cursor.close()

Employee Details
---------------------
Employee Number  :  222
Employee Name    :  BB
Employee Salary  :  6500.0
Employee Address :  hyd

### PDBC Application to retrieve Data from Database table by using  fetchmany():

In [16]:
## PDBC Application to retrieve Data from Database table by using fetchmany():
import cx_Oracle as cxo
con = cxo.connect("scott/tiger@localhost:1521/xe")
cursor = con.cursor()
cursor.execute("select * from pdbcemp")
data = cursor.fetchmany(3)
print("ENO\tENAME\tESAL\tEADDR")
print("-------------------------------------------")
for row in data:
     print(row[0],end="\t")
     print(row[1],end="\t")
     print(row[2],end="\t")
     print(row[3],end="\n")
cursor.close()
con.close()

ENO	ENAME	ESAL	EADDR
-------------------------------------------
222	BB	6500.0	hyd
333	CC	6300.0	hyd
555	EE	8000.0	hyd

In [19]:
import cx_Oracle as cxo
con = cxo.connect("scott/tiger@localhost:1521/xe")
cursor = con.cursor()
cursor.execute("select * from emp1")
data = cursor.fetchmany(3)
print("ENO\tENAME\tESAL\t\tEADDR")
print("-------------------------------------------")
for row in data:
     print(row[0],end="\t")
     print(row[1],end="\t")
     print(row[2],end="\t\t")
     print(row[3],end="\n")
cursor.close()
con.close()

ENO	ENAME	ESAL		EADDR
-------------------------------------------
7369	SMITH	CLERK		7902
7499	ALLEN	SALESMAN		7698
7521	WARD	SALESMAN		7698

 ### PDBC Application to retrieve Data from Database table by using  fetchall():

In [21]:
 ## PDBC Application to retrieve Data from Database table by using   fetchall():

import cx_Oracle as cxo
con = cxo.connect("scott/tiger@localhost:1521/xe")
cursor = con.cursor()
cursor.execute("select * from pdbcemp")
data = cursor.fetchall()
print("ENO\tENAME\tESAL\tEADDR")
print("------------------------------")
for row in data:
     print(row[0],end="\t")
     print(row[1],end="\t")
     print(row[2],end="\t")
     print(row[3],end="\n")
cursor.close()
con.close()

ENO	ENAME	ESAL	EADDR
------------------------------
222	BB	6500.0	hyd
333	CC	6300.0	hyd
555	EE	8000.0	hyd
666	FF	7000.0	hyd
777	GG	1200.0	odsa


# connect with mongo db :

## Mongo DB:
----------
### Introduction:
---------------
- MongoDB is No SQL Database, where it is not required to write SQL Queries.
- MongoDB is a document database designed for ease of development and scaling.
- MongoDB is a Document Database , where document is refered as record", it is a data structer contains data in the form of keys and values, where values may be single values or document or arrays or Arrays of other docuemnts.
- IN MongoDB, document is like a Json object.

## Steps for prepare PDBC Application With MongoDB:

- a)Import pymongo module: 
     - python -m pip install pymongo
     - import pymongo

- b)Create Client:
   - client = pymongo.MongoClient()
       - or,
   -   client = pymongo.MongoClient("mongodb://127.0.0.1:27017")

- c)Create Database: 
     - empDB = client['employee']
- d)Create Collection:
     - empCollection = empDB.emp1
- e)Perform Database Operations:
     - 1)To Insert Docuemtns:
         - empCollection.insert_one()
         - empCollection.insert_many()
         - empCollection.insert()
     - 2)To find documents:
         - empCollection.find_one()
         - empCollection.find_many()
         - empCollection.find()
     - 3)To update Cololection:
         - empCollection.update_one()
         - empCollection.update_many()
         - empCollection.update()
     - 4)To delete documents from Collection:
         - empCollection.delete_one()
         - empCollection.delete_many()
         - empCollection.delete()
- f)  Close Client.
        - client.close()

### To Insert a document in Collection:

In [25]:
from pymongo import MongoClient
client = MongoClient()
print("Client Is Ready")

empDB = client['pdbcmongo']
print("DB Is Created")

empCollection = empDB.mongoemp
print("mongoemp Collection/table is Created")

docuemnt = empCollection.insert_one({'ENO':111,'ENAME':"AAA",'ESAL':5000,'EADDR':"Hyd"})
print("Docuemt Inserted")
client.close()
print("Client Closed")

Client Is Ready
DB Is Created
mongoemp Collection/table is Created
Docuemt Inserted
Client Closed

### To insert many docuemnts in Collection:

In [26]:
import pymongo

client = pymongo.MongoClient("mongodb://127.0.0.1:27017")
print("Client Is Ready")
empDB = client['pdbcmongo']
print("DB Is Created")
empCollection = empDB.mongoemp
print("mongoemp Collection is Created")
document = empCollection.insert_many([{'ENO':222,'ENAME':'BBB','ESAL':6000,'EADDR':'Hyd'},
                                      {'ENO':333,'ENAME':'CCC','ESAL':7000,'EADDR':'Hyd'},
                                      {'ENO':444,'ENAME':'DDD','ESAL':8000,'EADDR':'Hyd'}])

print(document)
print("Docuemts Inserted")
client.close()
print("Client Closed")

Client Is Ready
DB Is Created
mongoemp Collection is Created
<pymongo.results.InsertManyResult object at 0x000001DB2A55BF40>
Docuemts Inserted
Client Closed

### To Read Single Document from Collection:

In [27]:
import pymongo
client = pymongo.MongoClient()
db = client['employee']
collection = db['emp1']
result = collection.find_one({"ENO":222})
print(result)

None

In [28]:
import pymongo
client = pymongo.MongoClient("mongodb://127.0.0.1:27017")
db = client['pdbcmongo']
collection = db['mongoemp']
result = collection.find_one({"ENO":222})
print(result)

{'_id': ObjectId('5ea202898a4545822da47cc2'), 'ENO': 222, 'ENAME': 'BBB', 'ESAL': 6000, 'EADDR': 'Hyd'}

### To Read Multiple Records from Collections:

In [29]:
import pymongo
client = pymongo.MongoClient("mongodb://127.0.0.1:27017")
db = client['pdbcmongo']
collection = db['mongoemp']
result = collection.find()
for document in result:
 print(document)

{'_id': ObjectId('5ea1fe568a4545822da47cc0'), 'ENO': 111, 'ENAME': 'AAA', 'ESAL': 5000, 'EADDR': 'Hyd'}
{'_id': ObjectId('5ea202898a4545822da47cc2'), 'ENO': 222, 'ENAME': 'BBB', 'ESAL': 6000, 'EADDR': 'Hyd'}
{'_id': ObjectId('5ea202898a4545822da47cc3'), 'ENO': 333, 'ENAME': 'CCC', 'ESAL': 7000, 'EADDR': 'Hyd'}
{'_id': ObjectId('5ea202898a4545822da47cc4'), 'ENO': 444, 'ENAME': 'DDD', 'ESAL': 8000, 'EADDR': 'Hyd'}

In [30]:
import pymongo
client = pymongo.MongoClient("mongodb://127.0.0.1:27017")
db = client['pdbcmongo']
collection = db['mongoemp']
result = collection.find()
print("ENO\tENAME\tESAL\tEADDR")
print("------------------------------")
for document in result:
    for value in list(document.values())[1::] :
        print(value,end="\t")
    print()

ENO	ENAME	ESAL	EADDR
------------------------------
111	AAA	5000	Hyd
222	BBB	6000	Hyd
333	CCC	7000	Hyd
444	DDD	8000	Hyd